body{
    margin: 0;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-top;
    flex-direction: column;
    width: 100%;
}

.introContainer{
    width: 100%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 480px;
    border: 1px solid #707070 opacity 0.26;
    background-image:url(molecularImage.jpg);
    background-repeat: no-repeat ;
    background-position: center center;
}

.introContainerBox{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
} 

.whiteIconsSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*margin-right: 25px;*/
    margin-top: 30px;
}

.whiteIcons{
    display: flex;
    margin-left: 10px;
    border: white solid 3px;
    border-radius: 100%;
    align-items: center;
    padding: 4px;
}

.whiteIcon{
    width: 30px;
    height: 30px;
    padding: 7px;
    margin: 0px 4px ;  
}

.orangeIconsSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;  
    margin-top: 50px; 
}

.orangeBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 30%;
    color: #FF0202; 
    align-items: center;  
}

.orangeIcons{
    border: #FF0202 solid 3px; 
    border-radius: 50%;
    display: flex;
    align-items: center;  
}

.orangeIcon{
    
    width: 30px;
    height: 30px;
    padding: 20px;
}

.iconP{
    color:  #FF0202 ;
}

.more{
    width: 375px; 
}

.more p{
    margin: 0px;
    padding: 30px 0px 80px;
}

.nameAndTitle{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
   /* margin-left: 30px;*/
    margin-bottom: 95px;
    width: 70%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.portfolio{
    font-weight: normal;
}

.line{ 
    position: relative;
    top: -8px;
    font-weight: bolder;
    color: #FA382F;
    font-family: 'Montserrat', sans-serif;
      
}

.linecircle{
    width: 4px;
    height: 4px;
    padding: 4px;
    position: relative;
    margin-right: 5px;
    background-color: #FA382F;
    border-radius: 50%;
    display: inline-block;
  }

.roundImage {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0;
    top: 340px;
    left: 190px;
    position: absolute;
    border: 2px solid white;
}

.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; 
    text-align: center;
}

h1{
    margin: 0px; 
    font: Bold 40px/49px Montserrat;
}

h2{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

h3{
    margin: 55px 0px 20px;
    color: #FFFFFF;
    background-color: #FF0000;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    padding: 5px 10px;  
    
    font-size: 1.3em;
}



.spacer{
    flex-grow: 1;
    height: 40px;
}

.spacerSmall{
    flex-grow: 1;
    height: 40px;
}

h4{
    font-size: 1.8em;
    margin: 50px 0px 30px 0px;
    font-family: 'Montserrat', sans-serif;
}

h5{ 
    margin: 20px 0px 10px;
    color: #FFFFFF;
}

p{
    color: black;
    /*padding: 35px 200px 20px 200px;*/
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    
}


.summary{
    margin: 0px; 
    text-align: left;
    flex-basis:100%;
    background-color: #F4F4F4;
    width: 100%;
}

.summaryBox{
   width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.summaryBox p{
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}



.tech{
    background-color: #FFFFFF;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.tech p{
    text-align: center;
    width: 300px;
    padding-left: 0px;
    padding-right: 0px;
}

.projectsContainer{
    background-color: #F4F4F4;
    width: 100%; 
}

.projectsContainer img + p{
    margin: 0px;
    width: 300px;
}

.projectLeft{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    
}

a:link{
    text-decoration: none;
    color: black;
   
}

.projectRight{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    
}

.projectLeft img{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 350px;
    height: 238px;
}

.projectRight img{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 350px;
    height: 238px;
   
}

.thoughtsBox{
    background-color: #FFFFFF;
   
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.thoughtsBox p{
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding: 0px, 0px, 100px, 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thoughts{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 16px;
    font-weight: bold;
}

.thoughts p{
    text-align: left;
    width: 350px;
    margin-top: 10px;
}

.thoughtLeft{
    text-align: left;
    margin-left: auto;
}

.thoughtRight{
    text-align: left;
    margin-right: auto;
}

.computerimg{
    margin-top: 50px;
    width: 350px;
    height: 238px;
    margin-top: 50px;
}

.skills{
    background-color: #F4F4F4;
    width: 100%;
    
    font-family: 'Montserrat', sans-serif;
}

.more p{
    font-size: 0.8em;
    font-weight: bold;
}

.skillbox{
    justify-content: center;
    text-align: center; 
    margin: 20px;
    flex-basis: 20%;
}

.skillContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}

.codeBox{
    margin-right: 10px; 
}

.toolboxBox{
    margin-left: 10px; 
}

.upcomingBox{
    margin-right: 10px;
}

.moreBox{
    margin-left: 10px;
}

.otherProjectsHeader{
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 0px;
    margin: 0px;
}

.otherProjects{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}


.list{
    color: #FF0000;
    font-weight: bold;
    margin: 10px;   
}

footer{
    background-color: #0E3070;
    /* background-color:#072BCE; */
    width: 100%;
    color: #FFFFFF;
    padding-bottom: 70px;
}

.contacts{
    text-align: center;
}

.contacts p{
    margin: 0px;
    padding: 5px;
    color: #FFFFFF;
    font-size: 1.2em;
}

.contacts a{
    color: white;
}

.redlinks{
    text-decoration: none;
    border-bottom: 1px solid #ff0000;
}

.programs{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 375px;
 }

.programs p{
    color: black;
    background-color:#FDDFE7;
    font-size: 0.8em;
    font-weight: bold;
    margin: 2px 2px 2px 0px;
    padding: 3px 8px;
}



@media (min-width: 650px){
.introContainer{
    width: 100%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #707070 opacity 0.26;
    background-image:url(molecularImage.jpg);
    background-repeat: no-repeat ;
    background-position: bottom;
    background-size: cover;
    height: 300px;
}

.spacer{
    height: 60px;
}

.introContainerBox{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}  

.whiteIconsSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
    margin-top: 100px;
}

.orangeIconsSection{ 
    margin: 50px 300px 0px;
}

.orangeIcon{
    width: 40px;
    height: 40px;
    padding: 30px;
}

.nameAndTitle{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    
    margin-bottom: 95px;
    width: 30%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.roundImage {
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0;
    border: 3px solid #FFFFFF;
    position: absolute;
    top: 130px;
    left: 59%;
    width: 200px;
    height: 200px;
}

.summary{
    margin: 0px; 
    text-align: center;
    flex-basis:100%;
    background-color: #F4F4F4;
    width: 100%;   
}

.summaryBox p{
    margin-top:0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.summaryBox{
    width: 750px;
    padding-left: 0px;
    padding-right: 0px;
}

.weather2 img{
    margin-top: 50px;
}

h3{
    font-size: 2em;
}

p{
    padding: 35px 200px 60px 200px;
}

p{
    color: black;
    padding: 35px 200px 60px 200px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.tech{
    background-color: #FFFFFF;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}



.tech p{
    text-align: center;
    width: 750px;
    padding-left: 0px;
    padding-right: 0px;
}

.projectsContainer{
    background-color: #F4F4F4;
    width: 100%; 
}



.projectsContainer p{
    padding: 15px 35px 20px 0px;
}

.projectLeft{
    text-align: left;
    margin-left: auto;
   
}

.projectRight{
    text-align: left;
    margin-right: auto; 
   

}

.projects{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
}

.weather p{
    padding: 0px;
    margin: 25px 0px 0px 50px;  
}

.programs p{
    margin: 0px 5px 0px 0px;
    padding: 0px;
}

.weather5{
    margin-bottom: 50px;
}

.otherProjects{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.otherProject p{
    padding:0px;
    
}

.projectLeft img{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 301px;
    height: 205px;
}

.projectRight img{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 301px;
    height: 205px;
   
}

.computerimg{
    width: 301px;
    height: 205px;
}

.thoughts{
    display: flex;
    flex-direction: row;
}

.thoughtsBox{
    width: 100%;  
    padding: 0px;
}

.thoughtsBox p{
    width: 750px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.thoughtRight{
    width: 375px;
}

.thoughtLeft{
    width: 375px;
}

.thoughtRight p{
    width: auto;
}

.thoughtLeft p{
    width: auto;
}

.otherProjectsHeader{
    font-size: 1.6em;
}

.thoughts p{
    padding: 15px 35px 0px 0px;
    margin: 0px;
  
}

.skills{
    width: 100%;    
}

.skillContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 750px;
    margin-left: auto;
    margin-right: auto;  
}

.more{
    width: 100%;
}

.more p{
    font-size: 1em;
}

footer.contacts{
    width: 100%;
}

}





